.navebar{
    box-shadow: 0 5px 5px rgba(57, 63, 72, 0.3);
    background-color: #fff;
    z-index: 1000000;
    position: fixed;
    top: 30px;
}
.HeartBit{
    font-size: 14px;
    transition: all 1s ease !important;
}

.SearchContainer{
    border: 1px solid lightgray;
    width: 45%;
}

.SearchContainer .input{
    border-radius: 2px;
    padding: 4px;
    border: none;
    max-width: 90%;
}

.logo {
    font-size: 32px;
}

.MenuItem{
    font-size: 14px;
}